<ion-view view-title="Contact" id="contact">
  <ion-content scroll="false">
      <img class="top" src="img/clouds/home-cloud.png"/>

      <div class="row" ng-show="!feedbackSent">
        <div class="col-75">
          <p>Have an idea for a way we can improve uThought or just a general question or comment for us?</p>
          <p>Sudmit it here and we'll be in touch</p>
        </div>
        <div class="col"></div>
      </div>

      <textarea placeholder="Comments..." ng-model="feedback" ng-show="!feedbackSent"></textarea>

      <div class="row flex-end">
        <button class="riskfactor-btn" ng-click="sendFeedback()" ng-show="!feedbackSent">Send</button>
      </div>

      <div class="row thanks flex-center" ng-show="feedbackSent">
        <h3>Thanks for the feedback!</h3>
      </div>



      <img class="go-back" ng-click="goToResults()" src="img/clouds/go-back-cloud.png"/>

      <div class="bottom row">
        <img src="img/clouds/all-category-clouds.png" />
      </div>

  </ion-content>
</ion-view>
