#about {
  @include background-gradient-black;
  img.top {
    display: block;
    margin: 0 auto;
    margin-top: -1.5rem;
    padding-bottom: 1rem;
    width: 50%;
    height: auto;
  }

  img.play-now {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 40%;
    height: auto;
    @include button-click;
  }

  h5 {
    padding: 0 3rem;
    margin-bottom: 1rem;
    span {
      font-weight: bold;
      &.environmental {
        color: $environmental;
      }
      &.ethical {
        color: $ethical;
      }
      &.financial {
        color: $financial;
      }
      &.healthandsafety {
        color: $healthandsafety;
      }
      &.recreational {
        color: $recreational;
      }
      &.socialandpolitical {
        color: $socialandpolitical;
      }
    }
  }
}
