#contact {
  img.top {
    display: block;
    margin: 0 auto;
    margin-top: -1.5rem;
    padding-bottom: 1rem;
    width: 50%;
    height: auto;
  }
  p {
    color: $black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .row {
    padding: 0 2rem;
  }
  textarea {
    background-color: lighten($gray, 50%);
    border-radius: 1rem;
    color: $black;
    height: 12.5rem;
    margin: 0 2rem;
    resize: none;
    text-indent: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 4rem);
  }
  .riskfactor-btn {
    border-color: $black;
    color: $black;
    margin-top: 1rem;
    padding: 0.5rem 2rem;

    &:active {
      background-color: $black;
      color: $white;
    }
  }

  .thanks {
    height: 26.8rem;
    h3 {
      color: $black;
      font-weight: bold;
      text-align: center;
    }
  }

  img.go-back {
    display: block;
    margin-left: -1rem;
    margin-top: -3rem;
    padding-bottom: 1rem;
    width: 40%;
    height: auto;
    @include button-click;
  }

  .bottom {
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }
}
