#login {
    @include background-gradient-black;

    h3 {
        margin-top: 15%;
        text-align: center;
    }

    .auth-input {
        margin-top: 1rem;
    }

    .riskfactor-btn.login-btn {
        margin-top: 8rem;
    }

    button.riskfactor-btn.facebook-btn {
        background-color: #3B5998;
        border-color: #3B5998;
        border-radius: 0.6rem;
    }

    .riskfactor-btn.skip-btn {
        margin-top: 2rem;
    }

    .loading-img {
        margin-top: 4rem;
    }

    .feedback {
        padding: 2rem;
    }

    .bottom {
        margin-top: 3rem;

        button {
            width: 12rem;
        }

        .left {
            text-align: right;
            margin-right: 1rem;
        }

        .right {
            text-align: left;
            margin-left: 1rem;
        }
    }
}
