#login {
  h3 {
    margin-top: 15%;
    text-align: center;
  }
  .auth-input {
    margin-top: 10px;
  }


  .riskfactor-btn.login-btn {
    margin-top: 10px;
  }


  .registration-btn-row {
    position: absolute;
    bottom: 30px;
  }

  .facebook-btn-row {
    position: absolute;
    bottom: 100px;
  }
}
