#questions {
  .questions-background {
    @include background-gradient-black;
    &.environmental {
      @include background-gradient-environmental;
    }
    &.ethical {
      @include background-gradient-ethical;
    }
    &.financial {
      @include background-gradient-financial;
    }
    &.healthandsafety {
      @include background-gradient-healthandsafety;
    }
    &.recreational {
      @include background-gradient-recreational;
    }
    &.socialandpolitical {
      @include background-gradient-socialandpolitical;
    }
  }

  .header-row {
    margin-bottom: 2rem;
    height: 20rem;

    .cloud-img {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;

      &.category-cloud {
        width: 45%;
        &.environmental {background-image: url("../img/clouds/environmental-cloud.png")}
        &.ethical {background-image: url("../img/clouds/ethical-cloud.png")}
        &.financial {background-image: url("../img/clouds/financial-cloud.png")}
        &.healthandsafety {background-image: url("../img/clouds/healthandsafety-cloud.png")}
        &.recreational {background-image: url("../img/clouds/recreational-cloud.png")}
        &.socialandpolitical {background-image: url("../img/clouds/socialandpolitical-cloud.png")}
      }
      &.header-cloud {
        background-image: url("../img/clouds/header-cloud.png");
        width: 60%;
      }
    }
  }

  .category {
    color: $white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .sub-title {
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
  .question {
    color: $white;
    margin-top: 5rem;
    padding: 0 1rem;
    text-align: center;
  }
  .bottom {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    .answers-row {
      margin-top: 5rem;
      .riskfactor-btn {
        border-radius: 50%;
        height: 7.5rem;
        margin: 0 auto;
        padding: 0.5rem;
        width: 7.5rem;
        &:first-child {
          margin-right: 2rem;
        }
        &:last-child {
          margin-left: 2rem;
        }
        div {
          width: 100%;
        }
        &:active {
          background-color: $white;
          div {
            color: $black;
          }
        }
      }
    }
    .countdown-timer {
      color: white;
      text-align: center;
      margin-top: 6rem;
    }
  }
}
