#questions {
  .questions-background {
    @include background-gradient-black;
    &.environmental {
      @include background-gradient-environmental;
    }
    &.ethical {
      @include background-gradient-ethical;
    }
    &.financial {
      @include background-gradient-financial;
    }
    &.healthandsafety {
      @include background-gradient-healthandsafety;
    }
    &.recreational {
      @include background-gradient-recreational;
    }
    &.socialandpolitical {
      @include background-gradient-socialandpolitical;
    }
  }
  .header-row {
    display: table;
    position: relative;
    margin-bottom: 150px;
    .category-cloud-img {
      position: absolute;
      top: -10px;
      width: 45%;
    }
    .header-cloud-img {
      position: absolute;
      right: 0;
      top: -20px;
      width: 60%;
    }
  }
  .category {
    color: $white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .sub-title {
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
  .question {
    color: $white;
    margin-top: 50px;
    padding: 0 10px;
    text-align: center;
  }
  .bottom {
    position: absolute;
    width: 100%;
    bottom: 50px;
    .answers-row {
      margin-top: 50px;
      .riskfactor-btn {
        border-radius: 50%;
        height: 75px;
        margin: 0 auto;
        padding: 5px;
        width: 75px;
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          margin-left: 20px;
        }
        div {
          width: 100%;
        }
        &:active {
          background-color: $white;
          div {
            color: $black;
          }
        }
      }
    }
    .countdown-timer {
      color: white;
      text-align: center;
      margin-top: 60px;
    }
  }
}
