#registration {
  @include background-gradient-black;

  h3.title {
    margin-top: 15%;
    text-align: center;
  }
  .auth-input {
    margin-top: 10px;
  }
  .age-row,
  .gender-row,
  .location-row {
    display: table;
    margin-top: 10px;
    h4 {
      margin-left: 10%;
      float: left;
    }
  }
  .age-row,
  .location-row {
    select {
      float: right;
      margin-right: 10%;
      width: calc(70% - 55px);
      background: transparent;
      padding: 5px;
      line-height: 1;
      border: 1px solid $white;
      border-radius: 6px;
      -webkit-appearance: none;
    }
  }
  .gender-row {
    .gender-input-wrapper {
      float: right;
      margin-right: 10%;
      width: calc(70% - 50px);
      label {
        float: right;
        input {
          float: right;
          margin: 0 10px;
        }
      }
    }
  }
  .riskfactor-btn.registation-btn {
    margin-top: 60px;
  }
  .login-btn-row {
    position: absolute;
    bottom: 30px;
  }
}
