#registration {
  @include background-gradient-black;
  h3.title {
    margin-top: 15%;
    text-align: center;
  }
  .auth-input {
    margin-top: 1rem;
  }
  .age-row,
  .gender-row,
  .location-row {
    display: table;
    margin-top: 1rem;
    h4 {
      margin-left: 10%;
      float: left;
    }
  }
  .age-row,
  .location-row {
    select {
      float: right;
      margin-right: 10%;
      width: calc(70% - 5.5rem);
      background: transparent;
      padding: 0.5rem;
      line-height: 1;
      border: 1px solid $white;
      border-radius: 0.6rem;
      -webkit-appearance: none;
    }
  }
  .gender-row {
    .gender-input-wrapper {
      float: right;
      margin-right: 10%;
      width: calc(70% - 5rem);
      label {
        float: right;
        input {
          float: right;
          margin: 0 1rem;
        }
      }
    }
  }
  .riskfactor-btn.registation-btn {
    margin-top: 6rem;
  }
  .loading-img {
    margin-top: 2.5rem;
  }
  .login-btn-row {
    margin-top: 2.5rem;
  }
  .feedback {
    margin-top: 1.5rem;
    text-align: center;
    padding: 0 1.5rem;
  }
}
