#splash {
  @include background-gradient-black;

  .version {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
  }

  h5 {
    margin-top: 10%;
    text-align: center;
  }

  #splash-img {
    background-image: url("/img/clouds/home-cloud.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
    width: 100%;
  }

  .riskfactor-btn {
    margin-top: 20px;
    text-transform: initial;
  }
}
