#status {
  @include background-gradient-black;

  img.top {
    display: block;
    margin: 0 auto;
    margin-top: -15px;
    padding-bottom: 10px;
    width: 50%;
    height: auto;
    margin-bottom: 80px;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
  }

  button {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
  }
}
