<ion-view view-title="Questions" id="questions" animation="slide-right-left">
  <ion-content scroll="false" class="questions-background" ng-class="currentQuestion.id == nextQuestion.id ? currentQuestion.category : ''">
    <div class="row header-row">
      <img src="img/clouds/header-cloud.png" class="header-cloud-img" />
      <img ng-src="img/clouds/{{currentQuestion.category}}-cloud.png" class="category-cloud-img" ng-show="currentQuestion.id == nextQuestion.id"/>
    </div>
    <div ng-show="currentQuestion.id == nextQuestion.id">
      <h3 class="category">{{currentQuestion.category}}</h3>
      <h5 class="sub-title">question of the day</h5>
      <h4 class="question">{{currentQuestion.question}}</h4>
      <div class="bottom">
        <div class="row answers-row">
          <button class="riskfactor-btn" ng-click="answerQuestion(currentQuestion.id, 0)"><div data-fittext data-fittext-min="10">{{currentQuestion.answers[0]}}</div></button>
          <button class="riskfactor-btn" ng-click="answerQuestion(currentQuestion.id, 1)"><div data-fittext data-fittext-min="10">{{currentQuestion.answers[1]}}</div></button>
        </div>
        <h2 class="countdown-timer">:{{countdown}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
