.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  @include flex-center
}

.flex-start {
  @include flex-start
}

.flex-end {
  @include flex-end
}

.flex-column-center {
  @include flex-column-center
}

.flex-column-start {
  @include flex-column-start
}

.flex-column-end {
  @include flex-column-end
}

.riskfactor-btn {
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid $white;
  color: $white;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  @include button-click;
  &:active {
    background-color: $white;
    color: $black;
  }
}

input.auth-input {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 1rem;
  font-size: 1.4rem;
  height: 3.4rem;
  text-align: center;
  color: $white;
  width: 80%;
}

select, label {
  font-size: 1.4rem;
}
