h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
select,
textarea,
button,
div {
  color: $white;
  font-family: 'Signika';
}

.row,
,
.row + .row {
  padding: 0;
  margin: 0;
}

.col {
  padding: 0;
  margin-bottom: -0.5rem;
}
