<ion-view view-title="Login" id="login">
  <ion-content scroll="false">

    <h3>Login</h3>

    <form>
      <div class="row flex-center">
        <input type="text" class="auth-input" placeholder="Email" ng-model="user.email"></input>
      </div>

      <div class="row flex-center">
        <input type="password" class="auth-input" placeholder="Password" ng-model="user.password"></input>
      </div>

      <div class="row flex-center">
        <button class="riskfactor-btn login-btn" ng-click="login()">Login</button>
      </div>
    </form>

    <div class="row flex-center feedback">
      <h5 ng-class="feedback.type">{{feedback.message}}</h5>
    </div>

    <div class="row flex-center top">
        <button class="riskfactor-btn" ng-click="loginWithFacebook()">Sign In with Facebook</button>
    </div>
    <div class="row flex-center bottom">
      <div class="col left">
        <button class="riskfactor-btn" ng-click="goToSplash()">Back</button>
      </div>
      <div class="col right">
        <button class="riskfactor-btn" ng-click="goToRegistration()">Sign Up</button>
      </div>
    </div>

  </ion-content>
</ion-view>
