<ion-view view-title="Login" id="login">
  <ion-content scroll="false">

    <h3>Login</h3>

    <form>
      <div class="row flex-center">
        <input type="text" class="auth-input" placeholder="Email" ng-model="user.email"></input>
      </div>

      <div class="row flex-center">
        <input type="password" class="auth-input" placeholder="Password" ng-model="user.password"></input>
      </div>

      <div class="row flex-center">
        <button class="riskfactor-btn login-btn" ng-click="login()" ng-show="!loading">Login</button>
        <img src="img/loaders/balls.gif" class="loading-img" ng-show="loading"/>
      </div>
    </form>

    <div class="row flex-center feedback">
      <h5 ng-class="feedback.type">{{feedback.message || '&nbsp;'}}</h5>
    </div>

    <div class="row flex-center" ng-show="!loading">
      <button class="riskfactor-btn facebook-btn" ng-click="loginWithFacebook()">Sign In with Facebook</button>
    </div>

    <div class="row flex-center" ng-show="!loading">
      <button class="riskfactor-btn skip-btn" ng-click="skip()">Continue as Guest</button>
    </div>


    <div class="row flex-center bottom" ng-show="!loading">
      <div class="col left">
        <button class="riskfactor-btn" ui-sref="splash" ui-sref-opts="{reload: true}">Back</button>
      </div>
      <div class="col right">
        <button class="riskfactor-btn" ui-sref="registration" ui-sref-opts="{reload: true}">Sign Up</button>
      </div>
    </div>

  </ion-content>
</ion-view>
