<ion-view view-title="Questions" id="questions">
  <ion-content scroll="false" class="questions-background" ng-class="currentQuestion.category">

    <div class="row header-row">
      <img src="img/clouds/header-cloud.png" class="header-cloud-img"/>
      <img ng-src="img/clouds/{{currentQuestion.category}}-cloud.png" class="category-cloud-img"/>
    </div>

    <h3 class="category">{{currentQuestion.category}}</h3>
    <h5 class="sub-title">question of the day</h5>
    <h4 class="question">{{currentQuestion.question}}</h4>

    <div class="row answers-row">
      <button class="riskfactor-btn" ng-click="answerQuestion(currentQuestion.id, currentQuestion.answers[0])">{{currentQuestion.answers[0]}}</button>
      <button class="riskfactor-btn" ng-click="answerQuestion(currentQuestion.id, currentQuestion.answers[1])">{{currentQuestion.answers[1]}}</button>
    </div>

    <h4 class="countdown-timer">:{{countdown}}</h4>

  </ion-content>
</ion-view>
